*{
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-image: url(./images/sky.jpeg);
}
/*nav bar*/
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 18%;
    background-color: aliceblue;
    height: 100%;
    position: fixed;/* Make it stick, even on scroll */
    overflow: auto;/* Enable scrolling if the sidenav has too much content */
}

#navbar li a {
    display: block;
    height: 50px;
    width:100%;
    background-color: aqua;
    text-align: center;
}
#navbar li a.active {
    background-color: aquamarine;
}
#navbar li a:hover:not(.active){
    background-color: blueviolet;
}

p {
    color: wheat;
    font-size: 35px;
    display: block;
}
